<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>

<%- include("partials/navbar") %>

<h1>About Course Portal</h1>

<p>
Course Portal is a simple web application built using Node.js and Express.
It allows users to explore different technical courses.
Students can check course duration and fees easily.
This project demonstrates routing and data passing in Express.
It is developed for academic learning purposes.
</p>

<%- include("partials/footer") %>

</body>
</html>
