<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

<%- include("partials/navbar") %>

<h1>Course Portal</h1>
<p>Total Courses: <%= totalCourses %></p>

<%- include("partials/footer") %>

</body>
</html>
